/* Imagen de fondo para las páginas de login y registro */
body {
    font-family: Arial, sans-serif;
    background-image: url('../images/fondo_login-register.webp'); /* Asegúrate de tener esta imagen en la carpeta correcta */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
    color: #ffffff; /* Color blanco para texto */
}

/* Hacer el contenedor del formulario transparente */
.card {
    background-color: rgba(0, 0, 0, 0.555); /* Fondo transparente */
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    width: 100%;
    max-width: 600px; /* Aumentar el ancho máximo del formulario */
    padding: 40px; /* Añadir más padding para que sea más alto */
    color: #ffffff; /* Asegurar que el texto dentro del formulario sea blanco */
}

/* Agregar una imagen decorativa sobre los inputs */
.form-icon {
    width: 80px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Ajuste de los inputs con padding adicional para la imagen */
input.form-control {
    padding-top: 30px;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}

input.form-control::placeholder {
    color: #fafafa; /* Placeholder en color claro */
}

/* Estilo del botón */
button.btn-primary {
    background-color: #474747;
    border-color: #6e7072;
    width: 100%;
}

button.btn-primary:hover {
    background-color: #757779;
    border-color: #3a3a3a;
}

/* Centrar el contenido en la página */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.row.justify-content-center {
    flex-direction: column;
    align-items: center;
    width: 100%;
}
